[program:sparkworker]
command=start-worker.sh spark://{{ hostvars["sparkmaster1"].ansible_default_ipv4.address }}:7077
redirect_stderr=true
stdout_logfile={{ sparkworker_log_dir }}/sparkworker.log
autostart=true
autorestart=false
stopasgroup=true
user=root
directory={{ sparkworker_srv_dir }}
