[program:sparkmaster]
command=/opt/spark/bin/spark-class org.apache.spark.deploy.master.Master --host %(ENV_SPARK_MASTER_HOST)s --port 7077 --webui-port 8080
redirect_stderr=true
stdout_logfile={{ sparkmaster_log_dir }}/sparkmaster.log
autostart=true
autorestart=false
stopasgroup=true
user=root
directory={{ sparkmaster_srv_dir }}
environment=PATH=%(ENV_PATH)s,SPARK_HOME=%(ENV_SPARK_HOME)s,PYSPARK_PYTHON=%(ENV_PYSPARK_PYTHON)s,PYSPARK_DRIVER_PYTHON=%(ENV_PYSPARK_DRIVER_PYTHON)s,PYTHONPATH=%(ENV_PYTHONPATH)s,SPARK_LOCAL_IP=%(ENV_SAPRK_LOCAL_IP)s,SPARK_MASTER_HOST=%(ENV_SPARK_MASTER_HOST)s
